<select
  class="c-select-input {{if disabled "c-select-input--disabled"}}"
  disabled={{disabled}}
>
  <option>Option one</option>
  <option>Option two</option>
  <option>Option three</option>
</select>