
.c-list-item {
  @extend .box-shadow;
  border-radius: 10px;
  background-color: $color--white;
  margin-bottom: 15px;
  padding: 10px 20px;
  width: 95%;
  cursor: pointer;

  &.selected{
    width: 100%;
  }
}

.c-list-item__name {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.c-list-full_item {
  border-radius: 10px;
  background-color: $color--white;
  padding: 30px;
  box-shadow: 3px 3px 1px $neutral--200;
}
.c-list-full_item__container {
  cursor: pointer;
}

.c-progress-bar--secondary{
  width: calc(100% - 105px);
  float: left;
  margin-right: 20px;
}

.c-list-full_item__heading {
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.c-list-full_item__sub-heading {
  font-size: 2rem;
}

.c-list-full_item__description {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 23px;
  color: $primary--200;
}

.c-list-full_item_name--secondary {
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.c-list-full_item__separator {
  margin: 25px 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $neutral--200;
  padding: 0;
}
