
<div class="c-dashboard-vision__container">
  <div class="c-dashboard-vision__image">
    <img src="{{dashboardImage}}">
  </div>
  <div class="c-dashboard-vision__text">
    {{vision}}
  </div>
</div>
